<TallinnRoutes>
  <Tram>
    <Route Number="1" Name="Kopli - Kadriorg"/>
    <Route Number="2" Name="Kopli - Ülemiste"/>
    <Route Number="3" Name="Tondi - Kadriorg"/>
    <Route Number="4" Name="Tondi - Ülemiste"/>
  </Tram>
  <Trolley>
    <Route Number="1" Name="Mustamäe - Kaubamaja"/>
    <Route Number="2" Name="Mustamäe - Estonia"/>
    <Route Number="3" Name="Mustamäe - Kaubamaja"/>
    <Route Number="4" Name="Keskuse - Balti jaam"/>
    <Route Number="5" Name="Mustamäe - Balti jaam"/>
    <Route Number="6" Name="Väike-Õismäe - Kaubamaja"/>
    <Route Number="7" Name="Väike-Õismäe - Balti jaam"/>
    <Route Number="9" Name="Keskuse - Kopli"/>
  </Trolley>
  <Bus>
    <Route Number="1A" Name="Viru keskus - Viimsi haigla"/>
    <Route Number="2" Name="Mõigu - Reisisadam (A-terminal)"/>
    <Route Number="3" Name="Veerenni - Randla"/>
    <Route Number="4" Name="Väike-Õismäe - Tiskre"/>
    <Route Number="5" Name="Männiku - Metsakooli"/>
    <Route Number="6" Name="Merivälja Pansion - Metsakooli"/>
    <Route Number="7" Name="Seli - Sõjamäe"/>
    <Route Number="8" Name="Viru keskus - Äigrumäe"/>
    <Route Number="9" Name="Kadaka - Kunstiakadeemia (express)"/>
    <Route Number="10" Name="Väike-Õismäe - Vana-Pääsküla"/>
    <Route Number="11" Name="Kadaka - Kunstiakadeemia (express)"/>
    <Route Number="12" Name="Väike-Õismäe - Priisle (express)"/>
    <Route Number="13" Name="Väike-Õismäe - Seli"/>
    <Route Number="14" Name="Viru keskus - Vana-Pääsküla (express)"/>
    <Route Number="15" Name="Viru keskus - Sõjamäe"/>
    <Route Number="16" Name="Väike-Õismäe - Tallinn-Väike"/>
    <Route Number="17" Name="J.Sütiste tee - Autobussijaam"/>
    <Route Number="17A" Name="J.Sütiste tee - Juhkentali"/>
    <Route Number="18" Name="Viru keskus - Laagri"/>
    <Route Number="19" Name="Viru keskus - P.Pinna"/>
    <Route Number="20" Name="Reisisadam (D-terminal) - Pääsküla jaam"/>
    <Route Number="20A" Name="Laagri alevik - Kunstiakadeemia"/>
    <Route Number="21" Name="Balti jaam - Landi"/>
    <Route Number="21A" Name="Väike-Õismäe - Kakumäe"/>
    <Route Number="21B" Name="Balti jaam - Kakumäe"/>
    <Route Number="22" Name="Väike-Õismäe - Vabaduse väljak"/>
    <Route Number="23" Name="Kadaka - Autobussijaam"/>
    <Route Number="26" Name="Väike-Õismäe - Paljassaare"/>
    <Route Number="26A" Name="Väike-Õismäe - Paljassaare põik"/>
    <Route Number="27" Name="Harkujärve - Laagri alevik"/>
    <Route Number="28" Name="Veerenni - Väike-Õismäe"/>
    <Route Number="29" Name="Viru keskus - Iru Hooldekodu - Priisle"/>
    <Route Number="30" Name="Seli - Iru - Kärmu"/>
    <Route Number="31" Name="P.Pinna - Kunstiakadeemia"/>
    <Route Number="32" Name="Männiku - Kopli"/>
    <Route Number="33" Name="Männiku - Kopli"/>
    <Route Number="34A" Name="Viru keskus - Muuga aedlinn"/>
    <Route Number="35" Name="Viru keskus - Seli"/>
    <Route Number="36" Name="Väike-Õismäe - Viru"/>
    <Route Number="38" Name="Viru keskus - Muuga"/>
    <Route Number="39" Name="Veerenni - Lasnamägi"/>
    <Route Number="40" Name="Viru keskus - Pelguranna"/>
    <Route Number="44" Name="Viru keskus - P.Pinna"/>
    <Route Number="46" Name="Väike-Õismäe - Kunstiakadeemia (express)"/>
    <Route Number="47" Name="Väike-Õismäe - Autobussijaam (express)"/>
    <Route Number="48" Name="Viru keskus - Pelguranna (express)"/>
    <Route Number="49" Name="P.Pinna - Merivälja"/>
    <Route Number="50" Name="Seli - Pae"/>
    <Route Number="51" Name="Viru keskus - Priisle"/>
    <Route Number="53" Name="Priisle - Kunstiakadeemia (express)"/>
    <Route Number="54" Name="Mereakadeemia - Estonia"/>
    <Route Number="55" Name="P.Pinna - Pae"/>
    <Route Number="56" Name="Seli - Kunstiakadeemia (express)"/>
    <Route Number="57" Name="Raudalu - Kalev"/>
    <Route Number="58" Name="Priisle - Pae"/>
    <Route Number="59" Name="Balti jaam - Paljassaare"/>
    <Route Number="60" Name="Priisle - Maneezi"/>
    <Route Number="61" Name="Astangu - Järve haigla"/>
    <Route Number="63" Name="Priisle - Maneezi"/>
    <Route Number="65" Name="Lasnamäe - Lennujaam"/>
    <Route Number="67" Name="Seli - Estonia"/>
    <Route Number="68" Name="Priisle - Estonia"/>
    <Route Number="90K" Name="Lennujaam - Kesklinn"/>
  </Bus>
</TallinnRoutes>
